* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #F8F4F0;
    padding:20px;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:coral;
}

.header h1 {
    font-size:medium;
    color:#F8F4F0;
}

.texto_pequeno {
    font-size: x-small;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color:aqua;
}

#nav-links{
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: bold;
}

#titulo-header small {
    font-size: 10px;
    font-weight:bold;
    color: #4F4F4F;
}

main {
    padding:20px;
}

#hero{
    background-color:#f3d8e1;
    display:flex;
    justify-content: space-between;
    align-items:center;
}


#texto-hero p{
    font-size:16px;
}

#img-hero img{
    width:350px;
}

#galeria-texto{
    margin-top:50px;
}
.card{
    background-color:rgb(255, 255, 255);
    width: 250px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width:100%;
    margin-bottom: 20px;
    height: auto;
    display: block;
}

#galeria-imgs{
    display:flex;
    gap:20px;
    align-content: center;
    justify-content: center;
    margin-top:20px;
    flex-wrap: wrap;
}

.card-texto{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color:#FFB6C1
}

table {
    width: 100%;
    max-width:600px;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #FDDDE6;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #FFB6C1;
    color:F8F4F0;

}